body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font-family: sans-serif;
}

.info {
    width: 150px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

div#view3d {
    height: 100%;
    width: 100%;
    position: relative;
    display: none;
}

.startMapButton {
    display: none;
}

.startPanoButton {
    border-radius: 6px;
    background-color: #3388ff;
    color: #fff;
    font-weight: 400;
    border: none;
    padding: 8px;
}

.hoverButton {
    position: absolute;
    top: 100px;
    float: right;
    right: 100px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #80bc3d;
    position: fixed;
    top: 0;
}

.search {
    width: 20%;
    float: left;
    text-align: center;
    color: white;
    padding-top: 10px;
    position: absolute;
    font-size: 22px;
}

.backButton {
    width: 20%;
    float: left;
    text-align: center;
    color: white;
    padding-top: 10px;
    position: absolute;
    font-size: 22px;
    display: none;
}

.page {
    margin-top: 50px;
}

.titleName {

    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: 400;
}

.titleName img {
    max-height: 40px;
    padding-top: 5px;
}

.leaflet-control-attribution.leaflet-control {
    opacity: 0.2;
}

.green {
    background-color: #80bc3d !important;
    color: white !important;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    position: relative;
    border-bottom: none !important;
    z-index: 999;
    transition: all 0.3s;
    font-family: sans-serif;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.white {
    background-color: white !important;
    color: #4c4c4c !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    border-bottom: none !important;
    position: relative;
    z-index: 999;
    transition: all 0.3s;
    font-family: sans-serif;
}

.mySep {
    width: 10px;
    background-color: white;
    height: 20px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: -2px;
}

.searchMini {
    float: left;
    color: #454545;
    size: 24px;
    font-size: 22px !important;
    padding: 10px;
}

.searchBox {
    border: none;
    width: 80%;
    height: 40px;
    outline-width: 0;
}

.searchBar {
    background-color: white;
    float: left;
    position: absolute;
    transition: all 0.2s;
    width: 0px;
    margin: 5px;
    border-radius: 8px;
    height: 40px;
    display: none;
}

.listBox {
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 22px;
    color: white;
    background-size: cover;
    background-position-y: 50%;
}

.listBoxInfo {
    height: 70px;
    line-height: 70px;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 10px;
    text-align: left;
    color: #373737;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #d3d3d3;
}

.leaflet-control.leaflet-position {
    position: relative;
    float: left;
    color: #1978cf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*background-color: rgba(0, 0, 0, 0.25);*/
    background-color: rgba(255, 255, 255, 1);
    /*background: none;*/
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    margin-left: 10px;
    margin-top: 10px;
    width: 32px;
    height: 32px;

    bottom: 45px;
}

.leaflet-position .position-button {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.leaflet-position .position-button.active {
    background: #fff;
}

.leaflet-position .position-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;
    text-align: center;
    line-height: 32px;
    color: #80bc3d;
}
